@import './normalize.scss';
@import '_vars.scss';

@import 'animations.scss';

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

// @media (min-width: 1400px) {
//   .container {
//     width: 1370px;
//   }
// }

// @media (min-width: 1700px) {
//   .container {
//     width: 1670px;
//   }
// }


img{
  width: 100%;
  height: 100%;
}

span{
  color: #212121;
  font-size: 14px;
  font-weight: 500;
}
a, a:visited{
  text-decoration: none;
  color: $link_color;
}
button{
  cursor: pointer;
}

$font_sizes: 14, 16, 18, 22, 24, 32, 36, 48;
@each $size in $font_sizes {
  .fz-#{$size}{
    font-size: #{$size}px;
  }
  // .w-#{$size}{
  //   width: #{$size}px;
  // }
  // .h-#{$size}{
  //   height: #{$size}px;
  // }
}

$font_weights: 400, 500, 600, 700, 800, 900;
@each $weight in $font_weights {
  .fw-#{$weight}{
    font-weight: #{$weight};
  }
}

.purple{
  color: $purple;
}
.grey, .gray{
  color: $gray;
}
.green{
  color: $green;
}
.yellow{
  color: $yellow;
}
.red{
  color: $red;
}

.text-center{
  text-align: center;
}

.with-icon::after{
  content: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.91667 10.7508H7.58333L4.98749 12.4775C4.60249 12.7342 4.08333 12.46 4.08333 11.9934V10.7508C2.33333 10.7508 1.16667 9.58418 1.16667 7.83418V4.33415C1.16667 2.58415 2.33333 1.41748 4.08333 1.41748H9.91667C11.6667 1.41748 12.8333 2.58415 12.8333 4.33415V7.83418C12.8333 9.58418 11.6667 10.7508 9.91667 10.7508Z' stroke='%23808191' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 6.62665V6.50417C7 6.1075 7.24502 5.89749 7.49002 5.72833C7.72918 5.56499 7.96832 5.355 7.96832 4.97C7.96832 4.43333 7.53667 4.00165 7 4.00165C6.46333 4.00165 6.03168 4.43333 6.03168 4.97' stroke='%23808191' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.99738 8.02082H7.00263' stroke='%23808191' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 14px;
  height: 14px;
  margin-left: .25rem;
}

.component-icon{
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.btn-main{
  border: none;
  border-radius: .75rem;
  padding: 1.25rem;
  width: 100%;
  cursor: pointer;

  // prevent selection
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-purple{
  background-color: $purple !important;
  color: $white !important;

  &:hover{
    background: $purple_hover;
  }
  &:active{
    background: $purple_deep;
  }
}
button.disabled{
  background-color: rgba(0, 0, 0, 0.1);
}
.error{
  color: $error;
}

.cursor{
  cursor: pointer;
}

.diagram{
  height: 14rem;
  width: 14rem;
  flex-grow: 1;
  position: relative;
  margin: auto;

  .diagram-layer{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.block-head{
  border-bottom: 1px solid $lightgray;
  padding: 2.25rem 2rem .75rem 2rem;
  display: flex;
  grid-gap: 1rem;
  align-items: center;

  h3{
    margin: 0;
  }
}

table{
  font-weight: 600;
  font-size: 14px;
  width: 100%;

  thead td{
    border-bottom: 1px solid #E6E6EA;
  }

  td{
    padding: 1rem;
    word-wrap: break-word;
  }

  tbody td{
    font-weight: 600;
  }
  
  td:first-child{
    padding-left: 2rem;
  }
  td:last-child{
    padding-right: 2rem;
  }
}
.sentiment-bearish,
.sentiment-bullish,
.sentiment-neutral{
  font-weight: 400;
  text-transform: capitalize;
}
.sentiment-bearish{
  color: $red;
}
.sentiment-bullish{
  color: $green;
}
.sentiment-neutral{
  color: $yellow;
}

.stats{
  display: grid;
  grid-template-columns: 8rem 8rem;
  grid-gap: 1rem;
  // column-gap: 1rem;
  // flex-direction: column;
}
.stats-circle{
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.stats-elem{
  display: flex;
  align-items: center;

  .key{
    flex-grow: 1;
  }
}

.chart{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-inner{
  display: flex;
  align-items: center;
  padding: 2rem 0;
  grid-gap: 2.5rem;
  justify-content: center;
  position: relative;

  .diagram{
    flex-grow: 0;
    margin: 0;
  }
}
.no-data{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}
.icon-32{
  width: 32px;
  height: 32px;
}

.icon-40{
  width: 40px;
  height: 40px;
}

.icon-48{
  width: 48px;
  height: 48px;
}

.vue-notification.error{
  color: white;
}

.page.text-center{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}